<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>

  <body>
    <h1>New Quiz Entry Recorded</h1>
    <p>Hello <%= @host.email %>,</p>
    <p>A new entry has been recorded for your quiz "<%= @quiz.title %>".</p>
    <p>Participant: <%= @quiz_entry.participant_email %></p>
    <p>Submitted at: <%= @quiz_entry.taken_at %></p>
    <p>Thank you for using our service.</p>
  </body>
</html>
