.auth-container {
  display: flex;
  height: 100vh;
  justify-content: space-between;
}

body {
  margin: 0;
  font-family: "Raleway", sans-serif;
  background-color: #f9f9f9;
}

.picture-card {
  background-color: #e6feed;
  padding: 5px;
  width: 50%;
}

.content {
  background-color: #fafffb;
  width: 50%;
  text-align: center;
  align-content: center;
}

.title {
  text-align: center;
  font-size: 30px;
  font-family: "Signika Negative", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.title-decoration {
  font-family: "Sevillana", sans-serif;
  color: #73aa82;
  font-weight: 900;
}

.form {
  padding: 5px;
  margin: 100px;
  margin-top: 20px;
  width: 70%;
}

.entry {
  text-align: start;
  margin-bottom: 20px;
  width: 100%;
  display: flex;
  flex-direction: column;
  label {
    color: gray;
    font-size: 15px;
    margin-bottom: 4px;
  }
}

.input-control{
  height: 45px;
  padding-left: 20px;
}

.input-control input:focus {
  outline: none;
  border:1px solid #73aa82;
  box-shadow: 0 0 10px #719ECE;
}

.btn {
  width: 100%;
  height: 50px;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 8px;
  border: none;
  background-color: #263238;
  color: white;
  font-size: medium;
}

.btn:hover {
  background-color: #6ea77f;
  cursor: pointer;
}

.forgot-password {
  display: flex;
  justify-content: end;
  text-decoration: underline;
  margin-bottom: 10px;
}

a{
  color: #6ea77f;
}

.nav-item {
  display: flex;
  font-weight: bold;
  padding: 20px;
  border-right-style: solid;
  border-right-color: #6ea77f;
  align-items: center;
}

.sidebar{
  width: 12%;
  border-right-style: solid;
  border-right-width: 1px;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
}

.sidebar p {
  margin: 5px;
  font-size: large;
}

.quiz-entry {
  display: flex;
  margin: 20px;
}

.quiz-info {
  margin-top: 30px;
  background-color: #ffffff;
  border-radius: 25px;
  padding: 20px;
  padding-top: 10px;
  min-width: 230px;
}

.quiz-info h2{
  color: #6ea77f;
  font-size: 18px;
}

.quiz-info p{
  font-weight: bold;
}

.question-number {
  background-color: #73aa82;
  border-radius: 4px;
  width: 20px;
  text-align: center;
  align-items: center;
  padding: 5px;
  margin: 5px;
  color: white;
}

.question-number:hover{
  cursor: pointer;
}

.limited-time{
  color: red
}

.questions {
  flex-wrap: wrap;
  display: flex;
}

.break {
  flex-basis: 100%;
  height: 0;
}

.nav-icon {
  font-size: 20px;
}

.quiz-dashboard {
  display: flex;
  margin-left: 200px;
}

.question-card {
  background-color: #ffffff;
  padding: 20px;
  margin: 30px;
  border-radius: 25px;
  font-weight: bold;
  height: min-content;
}

.question-header {
  display: flex;
  justify-content: space-between;
}

.question-header p {
  color: #73aa82;
  font-size: x-large;
  margin: 0;
  font-weight: bold;
}

.navigate{
  background-color: #f9f9f9;
  justify-content: center;
  align-content: center;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 8px;
  padding-bottom: 8px;
  font-size: small;
  border-radius: 10px;
  font-weight: bold;
}

.navigate i{
  margin-left: 10px;
  margin-right: 10px;
}

.navigate:hover {
  cursor: pointer;
}

.options {
  padding: 3px;
  font-weight: bold;
}

.options div{
  margin-bottom: 20px;
}

.options label{
  margin: 10px;
}

.question-footer {
  display: flex;
  justify-content: space-between;
}

.question-footer button:hover {
  cursor: pointer;
}

.question-footer button{
  padding-top: 15px;
  padding-bottom: 15px;
  padding-right: 20px;
  padding-left: 20px;
  background-color: #73aa82;
  color: white;
  border-radius: 10px;
  border: none;
  font-weight: bold;
}

.header {
  padding-left: 20px;
  display: flex;
  align-items: center;
  background-color: #ffffff;
}

.header svg{
  margin: 10px;
}

.header h3 {
  margin-bottom: 0;
}
.header p{
  margin-top: 0;
}

.question-content {
  width: 500px;
  height: 100px;
  border-radius: 15px;
  margin: 20px;
  border: 1px solid #6ea77f;
}

.question-content:focus{
  outline: none;
  border:1px solid #73aa82;
  box-shadow: 0 0 10px #719ECE;
}

.quiz-duration {
  width: 100px;
  border-radius: 10px;
  height: 30px;
}

.quiz-duration:focus{
  outline: none;
  border:1px solid #73aa82;
  box-shadow: 0 0 10px #719ECE;
}

.question-choice {
  display: flex;
  position: relative;
  margin: 15px;
}

.question-type {
  margin: 20px;
  background-color: #aeaeae;
  border-radius: 10px;
  align-content: center;
  color: black;
  padding: 20px;
}

.question-type:hover {
  cursor: pointer;
}

.question-type.active {
  border:3px solid #73aa82;
  box-shadow: 0 0 10px #719ECE;
}

.multi-select {
  font-weight: bold;
}

.multi-select div {
  margin: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.delete-select {
margin: 15px
}

.delete-select:hover{
  color: red;
  cursor: pointer;
}

.radio-select {
  margin: 10px;
  border: 0px;
  min-width: 20px;
  height: 2em;
}

.input-select{
  height: 30px;
  width: 100%;
}

.add-select {
  border-radius: 10px;
  background-color: #6ea77f;
  border: none;
  padding: 15px;
}

.input-select:focus {
  outline: none;
  border:1px solid #73aa82;
  box-shadow: 0 0 10px #719ECE;
}

.new-question {
  background-color: #6ea77f;
  padding: 1px;
  border-radius: 10px;
}

.quiz-title {
  border-radius: 5px;
  height: 20px;
  border: 1px solid #6ea77f;
}


input:focus {
  outline: none;
  border:1px solid #73aa82;
  box-shadow: 0 0 10px #719ECE;
}